.hero{
  background-position: center top;
  background-size: cover;
  height: 100vh;
}
.poster:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../images/site/grade-reverse.png);
    opacity: .5;
}
.inner-titulo {
    text-align: left;
    position: relative;
    width: 91%;
    height: 100%;
}
.segundo-titulo {
    text-align: left;
    padding: 0 5%;
}
.padding {
    padding: 20px;
}
.overlay-azul {
    background-color: rgba(0, 43, 69, 0.9);
}
@media (min-width: 1200px){
  .padded {
      padding-top: 100px;
      padding-bottom: 100px;
  }
}
@media (min-width: 768px){
  .padded {
      padding-top: 70px;
      padding-bottom: 70px;
  }
}
