.navigation-overlay {
    display: none;
}
.push-active .navigation-overlay {
    background: transparent;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 997;
}
.fundo-azul {
    background-color: #002b45;
    color: white;
}
.push-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.push-nav, #wrap, .push {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    -ms-transition: -ms-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform 0.5s cubic-bezier(.16, .68, .43, .99);
    transition: transform 0.5s cubic-bezier(.16, .68, .43, .99);
}
.push-right {
    -webkit-transform: translate3d(200%,0,0);
    -moz-transform: translate3d(200%,0,0);
    -ms-transform: translate3d(200%,0,0);
    -o-transform: translate3d(200%,0,0);
    transform: translate3d(200%,0,0);
}
.push-nav {
    display: block;
    vertical-align: middle;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 998;
    overflow: auto;
    background-position: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
.push-open {
    -webkit-transform: translate3d(0%,0,0);
    -moz-transform: translate3d(0%,0,0);
    -ms-transform: translate3d(0%,0,0);
    -o-transform: translate3d(0%,0,0);
    transform: translate3d(0%,0,0);
}
.Menu-wrap {
    max-width: 900px;
}
